<nav id="menu">
    <ul class="socials">
      <li>
        <a href="https://www.facebook.com/rhhspyglass/" target="_blank"
          >Facebook</a
        >
      </li>
      <li>
        <a href="https://twitter.com/rhhspyglass" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://www.instagram.com/rhhspyglass/" target="_blank"
          >Instagram</a
        >
      </li>
    </ul>
    <div class="columns contact-infos is-hidden-mobile">
      <div class="column">
        <p class="small-text">
          201 Yorkland St.<br />
          Richmond Hill<br />
          ON L4S 1A2
        </p>
      </div>
      <div class="column">
        <ul class="small-text">
          <li>
            <a href="mailto:rhhspyglass@gmail.com">rhhspyglass@gmail.com</a>
          </li>
        </ul>
      </div>
    </div>
    <ul id="menu-items">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/issues">Archive</a></li>
    </ul>
    <div id="copyright">
      <p>&copy; 2021 Spyglass.</p>
    </div>
  </nav>