<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spyglass | About</title>
    <link
      href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,500,600,700&amp;display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/bulma.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.css" />
    <link rel="stylesheet" href="/static/css/linea-arrows-styles.css" />
    <link rel="stylesheet" href="/static/css/linea-arrows-styles.css" />
    <link rel="stylesheet" href="/static/css/swiper.css" />
    <link rel="stylesheet" href="/static/css/app.css" />

    <!-- favicon -->
    <link id="favicon" rel="icon" type="image/png" href="/images/icon.ico" />
  </head>
  <body>
    <div id="menu-bar">
      <div id="menu-icon">
        <span class="top"></span>
        <span class="middle"></span>
        <span class="bottom"></span>
      </div>
      <a href="index.html" id="logo"><i>the</i> spyglass</a>
    </div>

    <a href="contact.html" id="contact" class="is-hidden-touch">Contact</a>

    {% include nav.html %}
    <div id="wrapper">
      <div class="swiper-container is-invisible" id="about">
        <div class="swiper-wrapper">
          <div class="swiper-slide site-intro wide-intro">
            <ul class="contact-infos small-text">
              <li>
                <a href="mailto:rhhspyglass@gmail.com">rhhspyglass@gmail.com</a>
              </li>
            </ul>

            <ul class="socials">
              <li>
                <a href="https://www.facebook.com/rhhspyglass/" target="_blank"
                  >Facebook</a
                >
              </li>
              <li>
                <a href="https://twitter.com/rhhspyglass" target="_blank"
                  >Twitter</a
                >
              </li>
              <li>
                <a href="https://www.instagram.com/rhhspyglass/" target="_blank"
                  >Instagram</a
                >
              </li>
            </ul>

            <p class="scroll-hint">
              <span class="is-hidden-mobile">Drag</span>
              <span class="is-hidden-tablet">Swipe</span>
            </p>

            <h1>
              The Spyglass is Richmond Hill High School’s official magazine.
            </h1>
            <h3>
              We are proud to be completely student-owned, providing our readers
              with quality journalism, breathtaking photography and professional
              layouts. Every seasonal issue is an expression of student voice
              and tells the story of our vibrant school community.
            </h3>
            <p class="small-text intro-text">
              <a href="/issues">View our previous issues.</a>
            </p>
          </div>

          <div class="swiper-slide about wide-image">
            <div class="inner">
              <img src="/images/2019-summer/20.jpg" alt="#" />
            </div>
          </div>
          <div class="swiper-slide site-intro narrow-intro">
            <div class="inner">
              <h1>
                Our team consists of editors, copywriters, photographers, and
                layout designers.
              </h1>
              <p class="small-text intro-text">
                <a href="contact.html">Have a question?</a>
              </p>
            </div>
          </div>

          <div class="swiper-slide service">
            <div class="inner">
              <h2>
                Editors in Chief
              </h2>
              <p>
                Rachel Liu<br/>
                Samantha Lee
              </p>
            </div>
          </div>

          <div class="swiper-slide service">
            <div class="inner">
              <h2>
                Editors
              </h2>
              <p>
                Copy Editor: Karen Zhou<br/>
                Photography Editor: Sam Abdi<br/>
                Design Editor: Ellie Liang and Lynn He <br/>
                Associate Editor: Elaine Wang
              </p>
            </div>
          </div>

          <div class="swiper-slide service">
            <div class="inner">
              <h2>
                Copywriters
              </h2>
              <p>
                Andrew Yang<br/>
                Anna Pan<br>
                Elaine Wang<br>
                Imaan Ahmadi<br>
                Jason Wu<br>
                Karen Zhou<br>
                Kate Shahidi<br>
                Rianna Zhu<br>
                Samantha Lee<br>
                Sophie Druta<br>
                Yasmin Hadizad<br>
              </p>
            </div>
          </div>
                
          <div class="swiper-slide service">
            <div class="inner">
              <h2>
                Photographers
              </h2>
              <p>
                Viktor Ostapchuk<br>
                Jolly Yan<br>
                Annie Chen<br>
                Shashank Singh<br>
                Anson Lai<br>
                Sam Abdi<br>
                Rachel Liu<br>
              </p>
            </div>
          </div>
                
          <div class="swiper-slide service">
            <div class="inner">
              <h2>
                Layout designers
              </h2>
              <p>
                Fiona Xu<br>
                Grace Fan<br>
                Lynn He<br>
                Hannah Truong<br>
                Jillian Feng<br>
                Melanie Ong<br>
                Elina Lai<br>
                Ellie Liang<br>
                Samantha Lee<br>
                Rachel Liu<br>
              </p>
            </div>
          </div>
                
          <div class="swiper-slide service last">
            <div class="inner">
              <h2>
                Web Developers
              </h2>
              <a href="https://github.com/melanie-lei" target="_blank" class="webmaster-name">
                  Melanie Lei
              </a>
            </div>
          </div>
          <!--div class="swiper-slide site-intro narrow-intro">
          <div class="inner">
            <h1>
              We are happy,<br>
              because our clients are happy.
            </h1>
            <p class="small-text intro-text">
              <a href="contact.html">We're ready to work with you.</a>
            </p>
          </div>
        </div-->
          <!--div class="swiper-slide clients">
          <div class="inner">
            <div class="columns is-multiline">
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-1.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-2.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-3.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-4.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-5.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-6.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-4.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-2.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-3.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-2.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-1.png" alt="">
              </div>
              <div class="column is-one-quarter">
                <img src="/images/%40stock/client-5.png" alt="">
              </div>
            </div>

          </div>
        </div-->

          <div class="swiper-slide contact-info">
            <div class="inner">
              <h2>
                <a href="contact.html">Let’s chat</a
                ><i class="icon-arrows-slim-right"></i>
              </h2>
              <p class="address small-text">
                201 Yorkland St.<br />
                Richmond Hill, ON L4S 1A2
              </p>
              <ul class="contact-infos small-text">
                <li>
                  <a href="mailto:rhhspyglass@gmail.com"
                    >rhhspyglass@gmail.com</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.swiper-wrapper -->

        <a class="scroll-to-beginning"><i class="icon-arrows-slim-left"></i></a>
      </div>
      <!-- /.swiper-container -->
    </div>

    <script src="/js/modernizr-custom.js"></script>
    <script src="/js/swiper.patched.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
