@font-face {
	font-family: 'erato';
	src: url('/fonts/erato/228020e139edf7f5f815229696fc6b84.woff2');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.header {
		@apply hover:font-bold text-lg;	
	}

	.article-header {
		@apply hover:font-bold;
	}
}
@layer utilities {
	.light-theme {
		@apply text-neutral-800 bg-neutral-100 fill-neutral-800;
	}
	.dark-theme {
		@apply text-neutral-200 bg-neutral-900 fill-neutral-200;
	}

	.boop {
		animation: 1s boop forwards running;
	}
}

@keyframes show {
	0% {
		opacity: 0;
	}
	99% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes boop {
	0% {
		transform: rotate(0deg);
	}
	15% {
		transform: rotate(-4deg);
	}
	30% {
		transform: rotate(4deg);
	}
	45% {
		transform: rotate(-4deg);
	}
	60% {
		transform: rotate(3deg);
	}
	75% {
		transform: rotate(-3deg);
	}
	90% {
		transform: rotate(1deg);
	}
	100% {
		transform: rotate(0deg);
	}
}

/* VERY important to hide the ui while localstorage is loading */
.show {
	animation: 200ms show;
}

/* width */
::-webkit-scrollbar {
	width: 7px;
	height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
	@apply bg-neutral-200 dark:bg-neutral-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
	@apply bg-neutral-300 rounded-lg dark:bg-neutral-700;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	@apply bg-neutral-400 dark:bg-neutral-600;
}